<header class="border-bottom border-2 my-cate mb-8">
    <div class="container">
      <nav class="navbar navbar-expand-lg p-0 position-static">
        <div class="container-fluid px-0 flex-nowrap">
          <h1>
            <a class="navbar-brand d-flex align-items-center py-3 me-lg-11" href="./index.html">
              <img class="img-fluid my-logo" src="../assets/images/logo.png" alt="logo">
              <div class="d-none d-lg-flex align-items-center">
                <span class="fs-8 ms-5 fs-lg-4 me-1">7TAO</span>
                <span class="fs-9">活動訂票網</span>
              </div>
            </a>
          </h1>
          <!-- input group -->
          <form class="d-flex ff-sans me-7 my-nav-form me-auto" role="search">
            <input class="form-control py-2 py-lg-5 border-2" type="search" placeholder="探索活動" aria-label="Search"
              aria-describedby="inputGroup-search">
            <button class="btn btn-primary my-btn-primary-hover input-group-text" id="inputGroup-search"
              type="submit"><i class="icofont-search-1"></i></button>
          </form>
          <button class="navbar-toggler border-primary rounded-1" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon my-navbar-toggler-icon border-primary"></span>
          </button>

        </div>
        <div class="collapse navbar-collapse my-nav-collapse justify-content-end position-lg-static"
          id="navbarNavAltMarkup">
          <div class="container px-lg-0">
            <div class="navbar-nav py-7 px-3 px-lg-0 d-lg-flex- justify-content-lg-end">
              <a class="nav-link fs-8" href="#"><i class="icofont-ui-file me-1"></i>REGISTER</a>
              <a class="nav-link fs-8 pe-lg-0" href="#"><i class="icofont-ui-user me-1"></i>LOGIN</a>
            </div>
          </div>
        </div>
      </nav>
    </div>


  </header>