<!-- membership Modal -->

<div class="modal fade overflow-y-hidden" id="membershipModal" tabindex="-1" aria-labelledby="membershipModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered px-1 ">
    <div class="modal-content border border-3">
      <div class="modal-header px-3 py-5 border-3">
        <h1 class="modal-title fs-5 fw-bold mx-auto my-ls-2 my-ls-lg-1" id="membershipModalLabel">立刻成為7TAO會員</h1>
        <button type="button" class="btn-close position-absolute end-0 me-3" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body py-8 py-lg-11 text-center ff-sans px-3">
        <p>立刻成為七逃會員，加速活動報名流程並取得活動優惠資訊。<br>
          您也可以先報名活動，日後再註冊帳號，<br>
          系統會在認證您的Email後，協助您找回舊的訂單。</p>
        <button type="button" class="btn btn-dark text-secondary fs-7 fw-bold ff-sans mt-5 mt-lg-7">立即成為會員</button>
      </div>
    </div>
  </div>
</div>