.eventDate {
    color: $primary;
    font-size: 32px;
    line-height: normal;
    text-transform: uppercase;
    border-bottom: 3px solid $primary;
    padding-bottom: 8px;
    margin-bottom: 16px;
}