// header navbar
.my-logo {
  width: 40px;
  height: 40px;
  object-fit: cover;
  @include media-breakpoint-up(lg){
    width: 53px;
    height: 53px;
  }
}
.my-nav-form {
  width: 207px;
  @include media-breakpoint-up(lg){
    width: 335px;
  }
}
.my-nav-collapse {
  position: absolute;
  top: 66px;
  left: 0px;
  border-bottom: 2px solid $primary;
  width: 100%;
  background-color: $body-bg;
  @include media-breakpoint-up(lg) {
    border-bottom: none;
    background-color: transparent;
  }
}
.my-banner {
  background-image: url("/assets/images/event/13.jpg");
  height: 350px;
  background-size: cover;
  background-position: center center;
  @include media-breakpoint-up(md) {
    height: 518px;
  }
}
.my-cate-img {
  max-width: 40px;
  max-height: 40px;
  @include media-breakpoint-up(md) {
    max-width: 80px;
    max-height: 80px;
  }
}
.my-cate-link-hover:hover {
  fill: $secondary;
}
.my-card-img {
  height: 210px;
  width: 100%;
  @include media-breakpoint-up(xl) {
    height: 255px;
  }
}
.my-sparkler {
  width: 20px;
  height: 20px;
  @include media-breakpoint-up(lg){
    width: 24px;
    height: 24px;
  }
}
.my-hover-circle:hover:before {
  content: "";
  position: absolute;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  background-color: $secondary;
  z-index: -1;
  left: -10px;
  top: -3.5px;
  text-decoration: underline;
}
.my-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.my-online-img{
  height: 158px;
  @include media-breakpoint-up(md){
    height: 100%;
  }
}
.my-album{
  &-img{
    height: 267px;
    @include media-breakpoint-up(lg){
      height: 274px;
    }
  }
  &-tag{
    transform: translate(-50%, -50%) rotate(-4deg);
  }
  &-item{
    &:nth-child(2n){
      transform: rotate(2deg);
    }
    &:nth-child(3){
      transform: rotate(-2deg);
    }
  }
}